# Linear Regression

### Import The Libraries

In [32]:
import numpy as np
import pandas as pd

In [58]:
import matplotlib.pyplot as plot
import seaborn as sns
%matplotlib inline

### Create the dataframe

In [34]:
df = pd.read_csv('demo.csv')

In [35]:
df

     x    y
0    4  390
1    9  580
2   10  650
3   14  730
4    4  410
5    7  530
6   12  600
7   22  790
8    1  350
9    3  400
10   8  590
11  11  640

In [41]:
x = df.iloc[:,:1]

In [46]:
y = df.iloc[:,1:]

In [47]:
x

     x
0    4
1    9
2   10
3   14
4    4
5    7
6   12
7   22
8    1
9    3
10   8
11  11

In [48]:
y

      y
0   390
1   580
2   650
3   730
4   410
5   530
6   600
7   790
8   350
9   400
10  590
11  640

In [49]:
x.shape

(12, 1)

In [50]:
y.shape

(12, 1)

### create the Linear Regression Model

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.4,random_state=101)

In [53]:
from sklearn.linear_model import LinearRegression

In [54]:
lm = LinearRegression()

In [55]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [56]:
y_pred = lm.predict(X_test)

In [62]:
print(lm.coef_)

[[16.83579336]]

In [63]:
print(lm.intercept_)

[437.51845018]

In [75]:
# y = mx + c
# y = (16.83579336)x + 437.51845018

### compute for 100  value

In [69]:
X_true = np.array(100).reshape(1,1)

In [70]:
X_true

array([[100]])

In [73]:
y_predict = lm.predict(X_true)

In [74]:
y_predict

array([[2121.09778598]])