# Basic Operation

In [1]:
1+1

2

In [2]:
1.2+1

2.2

In [3]:
1/2

0.5

In [4]:
4%2

0

In [5]:
5%2

1

In [6]:
5 * 2

10

In [7]:
5*3.1

15.5

In [8]:
5 ** 2

25

In [9]:
2+3*5+5

22

In [10]:
(2+3)*(5+5)

50

# String

In [11]:
'Om Khunt'

'Om Khunt'

In [12]:
"Om Khunt"

'Om Khunt'

In [13]:
"I can't do it."

"I can't do it."

In [14]:
name = "Om Khunt"
print(name)

Om Khunt

In [15]:
print(name[0])
print(name[-1])

O
t

In [16]:
# Slice

In [17]:
full_name = "Hiten Sidapara"
print(full_name)

Hiten Sidapara

In [18]:
full_name[0:]
full_name[0:5]

'Hiten'

In [19]:
list = [1,2,3,4,5]

In [20]:
print(list)

[1, 2, 3, 4, 5]

In [21]:
list = ["Hiten",27,[],"",None]
print(list)

['Hiten', 27, [], '', None]

In [22]:
data = [1,2,3,4,5,6,7,8,9,10]
data
data[1::2]
data[:-2:2]

[1, 3, 5, 7]

In [23]:
# Nested List :

In [24]:
nested_list = [1,2,3,[4,5,6]]
nested_list[3][2]

6

In [25]:
nest_list = [1,2,3,["Hiten","Om",["Target"]]]
nest_list[3][2][0]

'Target'

In [26]:
data = ["Hiten","Akshay"]
data

['Hiten', 'Akshay']

In [27]:
data.append("Raj")
data

['Hiten', 'Akshay', 'Raj']

# Dictionary

In [28]:
d = {"key1":"Hiten","key2":"Om","key3":"Aarvee"}
d

{'key1': 'Hiten', 'key2': 'Om', 'key3': 'Aarvee'}

In [29]:
d['key1']

'Hiten'

In [30]:
data = {"list1":[1,2,3],"list2":["Hiten","Om","Aarvee"]}
data

{'list1': [1, 2, 3], 'list2': ['Hiten', 'Om', 'Aarvee']}

In [31]:
data['list1'][2]

3

In [32]:
data['list2'].append("Jay")

In [33]:
data

{'list1': [1, 2, 3], 'list2': ['Hiten', 'Om', 'Aarvee', 'Jay']}

# Tuple

In [34]:
t = (1,2,3,4)

In [35]:
t[0]

1

In [36]:
t[0] = "New"

TypeError: 'tuple' object does not support item assignment

# Set

In [ ]:
s = {1,1,2,3,4,4,4,4,5,5,5,5}
print(s)

In [ ]:
unique_data = set(["Hiten","Akshay","Om","Akshay","Raj","Om","Hiten","Vatshal","Darshit"])
unique_data

In [ ]:
unique_data.add("Jay")
unique_data

# Comparision Operator

In [ ]:
True and True

In [ ]:
False and True

In [41]:
True or True

True

In [40]:
False or True

True

### Odd Even Number Program

In [39]:
num = int(input("Enter Number : "))
if num %2 == 0:
    print(f"{num} is Even.")
else:
    print(f"{num} is Odd.")

Enter Number : 6
6 is Even.

# Loop in python

In [42]:
list = ["Hiten","Om","Aarvee"]
for i in list:
    print(i)

Hiten
Om
Aarvee

In [45]:
i=0
while i<len(list):
    print(list[i])
    i+=1

Hiten
Om
Aarvee

In [46]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [58]:
[num*2 for num in range(1,5)]

[2, 4, 6, 8]

# Function

In [61]:
def my_function(name):
    print("Hello : "+name)
    
my_function("Om")

Hello : Om

In [62]:
def default_value(data='Default Value'):
    print("Data is : "+data)
default_value()

Data is : Default Value

In [63]:
 def double_value(num):
        """
        This is the document String
        This function works is double the value of the string
        """
        return num**2
double_value(4)
# shift + Tab to show the document string 
default_value

16

# map Function

In [3]:
def times2(num):
    return num * 2
times2(2)

4

In [4]:
map(times2,range(1,6))

In [5]:
list(map(times2,range(1,6)))

[2, 4, 6, 8, 10]

# Lambda Expression

In [67]:
t = lambda num : num ** 2
t(10)

100

In [70]:
check_num = lambda num : num %2 ==0
check_num(3)
check_num(2)

True

# tuple unpacking

In [72]:
data = [(1,2),(3,4),(5,6),(7,8)]
data

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [74]:
for i in data:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [78]:
for a,b in data:
    print(f'{a} : {b}')

1 : 2
3 : 4
5 : 6
7 : 8