# Pandas - Series

In [2]:
import numpy as np
import pandas as pd

In [10]:
my_list = [1,2,3,4,5]
my_data = ['a','b','c','d','e']
my_array = np.array(my_list)
d = {27:"Hiten",1:"Om",2:"Aarvee"}

In [7]:
pd.Series(data=my_list)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
pd.Series(data=my_data, index=my_list)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [12]:
pd.Series(d)

27     Hiten
1         Om
2     Aarvee
dtype: object

In [15]:
pd.Series(data=my_data,index=range(len(my_data)))

0    a
1    b
2    c
3    d
4    e
dtype: object

In [18]:
ser1 = pd.Series(data={1:"India",2:"USA",3:"Japan",4:"New Zaland"})
ser1

1         India
2           USA
3         Japan
4    New Zaland
dtype: object

In [19]:
ser2 = pd.Series(data={1:"India",2:"USA",3:"Koria",4:"New Zaland"})
ser2

1         India
2           USA
3         Koria
4    New Zaland
dtype: object

In [21]:
# How to fetch data from the series : 
ser1[1]
ser2[3]

'Koria'

In [23]:
ser1 + ser2

1              IndiaIndia
2                  USAUSA
3              JapanKoria
4    New ZalandNew Zaland
dtype: object