# Pandas - DataFrame
* Create The Multilevel index and the selecting the element

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1 -0.162824 -1.216835
   2  0.416065  1.208080
   3 -0.715393 -0.795162
G2 1 -0.962152 -1.417262
   2  0.957850 -0.436415
   3  0.652104 -0.131016

In [6]:
df.loc['G1']

          A         B
1 -0.162824 -1.216835
2  0.416065  1.208080
3 -0.715393 -0.795162

In [8]:
df.loc['G1'].loc[1]

A   -0.162824
B   -1.216835
Name: 1, dtype: float64

In [10]:
# here Not any index name get
df.index.names

FrozenList([None, None])

In [11]:
# Set The index name of the row
df.index.names = ['Groups','Num']

In [12]:
df

                   A         B
Groups Num
G1     1   -0.162824 -1.216835
       2    0.416065  1.208080
       3   -0.715393 -0.795162
G2     1   -0.962152 -1.417262
       2    0.957850 -0.436415
       3    0.652104 -0.131016

In [15]:
df.loc['G2'].loc[2,"B"]

-0.43641462904115125

In [17]:
# Compare the data of the two level id 1 data 
df.xs(1,level="Num")

               A         B
Groups
G1     -0.162824 -1.216835
G2     -0.962152 -1.417262